{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
    <title>Botões</title>

  </head>
  <body>
    <a href="{% url "home" %}"> <img class="btn-left" src=" {% static 'IMG/home.png' %} " alt=""></a>
    <a href="{% url 'register' %} "><button class="botao entrada">Entrada</button></a>
    <a href="{% url 'saida' %} "><button class="botao entrada">Saida</button></a>
    <a href="{% url 'controle_list' %} "><button class="botao entrada">Listagem</button></a>
  </body>
</html>
{% endblock %}