{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href=" {% static 'CSS/register.css' %}">
    <title>Registrar Ponto</title>
  
  </head>
  <body>
    <a href="{% url "home" %}"> <img class="btn-left" src=" {% static 'IMG/home.png' %} " alt=""></a>
    <div class="form-container">
      <h2>Registrar Entrada</h2>
      <form method="post">
        {% csrf_token %}

        <label for="pessoa">Nome:</label>
        {{ form.nome }}

        <label for="id_entrada">Entrada:</label>
        <div class="time-group">
          {{ form.entrada }}
          <button type="button" onclick="preencherHorario('id_entrada')">Agora</button>
        </div>

        {% comment %} <label for="id_saida">Saída:</label>
        <div class="time-group">
          {{ form.saida }}
          <button type="button" onclick="preencherHorario('id_saida')">Agora</button>
        </div> {% endcomment %}

        <button type="submit">Salvar</button>
      </form> 
    </div>
    <script>
      function preencherHorario(id) {
        const now = new Date()
        const horas = now.getHours().toString().padStart(2, '0')
        const minutos = now.getMinutes().toString().padStart(2, '0')
        document.getElementById(id).value = `${horas}:${minutos}`
      }
    </script>
  </body>
</html>
