body {
    /* background: #181818; */
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #222;
}

th,td {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
}

th {
    /* background: #222; */
    background: white;
    color: black;
    /* color: #fff; */
}

form,input{
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
}
button{
    border-radius: 20px;
}

