body {
    /* background: #181818; */
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #000000;
    font-family: Arial, sans-serif;
}

th {
    background-color: #1E3A5F;
    color: white;
    padding: 12px;
    text-align: center;
    border: 1px solid #d1d5db;
}

td {
    padding: 10px;
    border: 1px solid #d1d5db;
    color: #333;
}

th {
    background-color: #1E3A5F;
    color: white;
    padding: 12px;
    text-align: left;
    border: 1px solid #d1d5db;
}

th {
    background-color: #1E3A5F;
    color: white;
    padding: 12px;
    text-align: left;
    border: 1px solid #d1d5db;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:nth-child(odd) {
    background-color: #F0F4F8;
}

form,
input {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
}

button {
    border-radius: 20px;
}

/* Responsivo */
@media (max-width: 842px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead {
        display: none;
    }

    tr {
        margin-bottom: 15px;
        border-bottom: 2px solid #1E3A5F;
        padding: 10px;
    }

    td {
        text-align: right;
        position: relative;
        padding-left: 50%;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        top: 10px;
        font-weight: bold;
        text-align: left;
    }
}